//change color
.-green {
  background-color: $green;
  color: white;
}

//change color
.-black {
  background-color: $black;
  color: white;
}

.-grey {
	color: $grey;
}

.-displayNone {
  display: none;
}

//modifier
.-block-letters {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}
